body    
{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.site-margin
{
    margin: 20px;
}

.site-chart
{
    margin: 100px;
}

.login
{
  width: 250px;
  margin:0 auto;
}

#table1
{
    min-width: 100%;    
    max-width:100%;
    white-space:nowrap;    
}

#table1 td
{
    min-width: 100% !important;    
}

